name: Publish

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      SONATYPE_USERNAME: ${{ secrets.MAVEN_CENTRAL_USER_NAME }}
      SONATYPE_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
      PGP_SIGNING_KEY: ${{ secrets.SIGNING_IN_MEMORY_KEY }}
      PGP_SIGNING_PASSWORD: ${{ secrets.SIGNING_IN_MEMORY_KEY_PASSWORD }}
      GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Publish plugin to Maven Central (Sonatype)
        run: ./gradlew publish closeAndReleaseSonatypeStagingRepository -PwithoutSample --no-daemon --stacktrace

      - name: Publish plugin to Gradle Plugin Portal
        run: ./gradlew publishPlugins -PwithoutSample --no-daemon --stacktrace
