name: Publish

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract version from tag
        id: extract_version
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          echo "VERSION=$TAG_NAME" >> $GITHUB_OUTPUT
          echo "Publishing version: $TAG_NAME"

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        run: ./gradlew build -Pversion=${{ steps.extract_version.outputs.VERSION }} -PwithoutSample --no-configuration-cache --no-daemon --stacktrace

  publish-maven-central:
    needs: build
    runs-on: ubuntu-latest
    env:
      SONATYPE_USERNAME: ${{ secrets.MAVEN_CENTRAL_USER_NAME }}
      SONATYPE_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
      PGP_SIGNING_KEY: ${{ secrets.SIGNING_IN_MEMORY_KEY }}
      PGP_SIGNING_PASSWORD: ${{ secrets.SIGNING_IN_MEMORY_KEY_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract version from tag
        id: extract_version
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          echo "VERSION=$TAG_NAME" >> $GITHUB_OUTPUT
          echo "Publishing version: $TAG_NAME"

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Publish to Maven Central
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository -Pversion=${{ steps.extract_version.outputs.VERSION }} -PwithoutSample --no-configuration-cache --no-daemon --stacktrace

  publish-gradle-portal:
    needs: build
    runs-on: ubuntu-latest
    env:
      GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
      GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract version from tag
        id: extract_version
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          echo "VERSION=$TAG_NAME" >> $GITHUB_OUTPUT
          echo "Publishing version: $TAG_NAME"

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Publish to Gradle Plugin Portal
        run: ./gradlew publishPlugins -Pversion=${{ steps.extract_version.outputs.VERSION }} -PwithoutSample --no-configuration-cache --no-daemon --stacktrace
